{% extends 'base.html.twig' %}

{% block title %} Workchase {% endblock %}

{% block header %}
    <div class="PageHeader">
        <div class="PageHeader-logo">
            <a href="/"><img src="img/logo.png" alt="worchase"></a>
        </div>
        <nav class="PageHeader-nav">
            <span class="PageHeader-item"><a href="">Visi skelbimai</a></span>
            <span class="PageHeader-item"><a href="">Mano pasiūlymai</a></span>
            <span class="PageHeader-item"><a href="">Profilis</a></span>
        </nav>
    </div>
{% endblock %}

{% block intro %}
<section class="SectionBlock">
    <div class="SectionBlock-text">
        <h1>Ieškok, kas tau padarytų darbą!</h1>
        <div class="u-display-flex">
            <a class="Button Button--blue u-margin-top-bottom" href="#FilterBar">Plačiau</a>
        </div>
    </div>
    <div class="SectionBlock-img">
        <img src="img/intro.png"/>
    </div>
</section>
{% endblock %}

{% block ads %}
    <section id="Ads" class="Ads">
        {% for advert in filteredAdverts %}
        <section class="Ad u-visibility-parent">
            <header class="Ad-header">
                <div > {{ advert.createdAt|date("Y-m-d") }}</div>
                <div class="Bid">
                    <span class="Bid-header">Aplikavo</span>
                    <span class="Bid-count">34</span>
                </div>
            </header>
            <h3 class="Header">{{ advert.title }}</h3>
            <div class="Ad-body">
                <div>
                    <p>{{ advert.text }}</p>
                </div>
                <div class="u-align-center u-visibility-flex-child">
                    <a class="Button Button--short u-margin-top-bottom" href="/advert/{{ advert.id }}">Plačiau</a>
                </div>
            </div>
            <footer class="Ad-footer">
               <ul class="Ad-categories">
                   {% for advertCategory in advert.categories  %}
                       <li class="Category {{ advertCategory.cssStyle }}">{{ advertCategory.title }}</li>
                   {% endfor %}
               </ul>
            </footer>
        </section>
        {% endfor %}
    </section>


    {% if paginationPages > 1 %}
    <section>
        <ul class="Pagination u-align-center">
            {% if page > 1 %}
            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page= {{ page - 1 }}" class="Pagination-item Pagination-prev">&laquo</a></li>
            {% endif %}

            {% for i in 1..paginationPages %}
            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page= {{ i }}" class="Pagination-item  {{ page == i? "is-active" }} "> {{ i }}  </a></li>
            {% endfor %}
            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page= {{ page + 1 }}" class="Pagination-item Pagination-next">&raquo;</a></li>
        </ul><br>
    </section>
    {% endif %}
    {% endblock %}

{% block filter %}
    <section id="FilterBar">
        <ul class="FilterBar">
            {% for category in availableCategories %}
            <li>
                <a class="Category Category--filter {{ category.cssStyle }} {% if category.slug not in selectedCategorySlugs %}not-active{% endif %}"
                   href="?filter={{ toggleQueryStrings[category.slug] }}">
                    <span class="Filter-title">{{ category.title }}</span>
                    <span class="Filter-icon">
                        {% if category.slug not in selectedCategorySlugs %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
