{% extends 'base.html.twig' %}

{% block body %}

    {% include 'components/flash_bag.html.twig' %}

    {% include 'components/intro.html.twig' %}

    {#<div id="Alert"#}
         {#data-alert-show=false#}
         {#data-alert-title="Dar vienas žingsnis..."#}
         {#data-alert-message="test">#}

    <div class="Content">
        <div class="Content-Block">
            {% include 'components/filter_bar.html.twig' with {'header': 'Visi skelbimai'} %}
        </div>
    </div>

    <div class="Content Content--GreyBg">
        <div class="Content-Block">



            {% block ads %}
                <section id="Ads" class="LayoutGrid">
                    {% for advert in filteredAdverts %}
                        {% include 'components/advert_item.html.twig' %}
                    {% endfor %}
                </section>

                {% if paginationPages > 1 %}
                    <section>
                        <ul class="Pagination u-align-center">

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page - 1 }}#FilterBar" class="Pagination-item Pagination-prev{{ (page == 1) ? ' is-unavailable' : '' }}">&laquo</a></li>

                            {% for i in 1..paginationPages %}
                                <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ i }}#FilterBar" class="Pagination-item  {{ page == i? "is-active" }} "> {{ i }}</a></li>
                            {% endfor %}

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page + 1 }}#FilterBar" class="Pagination-item Pagination-next {{ (paginationPages == page) ? ' is-unavailable' : '' }}">&raquo;</a></li>
                        </ul>
                    </section>
                {% endif %}

            {% endblock %}

        </div>
    </div>
{% endblock %}
