{% extends 'base.html.twig' %}

{% block title %} Workchase {% endblock %}

{% block ads %}
    <section class="Ads">
        {% for advert in filteredAdverts %}
        <section class="Ad u-visibility-parent">
            <header class="Ad-header">
                <div class="Date"> {{ advert.createdAt|date("Y-m-d") }}</div>
                <div class="Bid">
                    <span class="Bid-header">Aplikavo</span>
                    <span class="Bid-count">34</span>
                </div>
            </header>
            <h3 class="Header">{{ advert.title }}</h3>
            <div class="Ad-body">
                <div>
                    <p>{{ advert.text }}</p>
                </div>
                <div class="u-align-center u-visibility-flex-child">
                    <a class="Button u-margin-top-bottom" href="/advert/{{ advert.id }}">Plačiau</a>
                </div>
            </div>
            <footer class="Ad-footer">
               <ul class="Ad-categories">
                   {% for advertCategory in advert.categories  %}
                       <li class="Category {{ advertCategory.cssStyle }}">{{ advertCategory.title }}</li>
                   {% endfor %}
               </ul>
            </footer>
        </section>
        {% endfor %}
    </section>
{% endblock %}

{% block filter %}
    <section>
        <ul class="FilterBar">
            {% for category in availableCategories %}
            <li>
                <a class="Category Category--filter {{ category.cssStyle }} {% if category.slug not in selectedCategorySlugs %}not-active{% endif %}"
                   href="?filter={{ toggleQueryStrings[category.slug] }}">
                    <span class="Filter-title">{{ category.title }}</span>
                    <span class="Filter-icon">
                        {% if category.slug not in selectedCategorySlugs %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
