{% extends 'base.html.twig' %}

{% block body %}

<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

<div class="Content Content--GreyBg">
    <div class="Content-Block u-padding-top">

        {% if offers|length < 1 %}
            <div class="Message Message--empty">
                <img class="Message-img" src="/img/worker-empty.png" alt="" />
                <p class="Message-text">J큰s pasi큰lym킬 neturite!</p>
            </div>
        {% endif %}
        <section id="myOffers" class="LayoutLine">
            {#----- start item block --------#}
            {% for offer in offers %}
            <section class="LayoutLine-item LayoutLine-item--link"
                     onclick="location.href = '{{ path('advert', {'id': offer.advert.id }) }}'">
                <div class="LayoutLine-col-3">
                    <p class="Header5">Skelbimas</p>
                    <h3 class="Header1">{{ offer.advert.title }}</h3>
                </div>

                <div class="LayoutLine-col-6">
                    <p class="Header5">Mano pasi큰lymas</p>
                    <p class="Paragraph Paragraph--lineLimit-4">{{ offer.text }}</p>
                </div>

                <div class="LayoutLine-col-3">
                    <div class="u-margin-top-bottom u-align-space-around">
                        {#TODO: turi keistis statusas priklausomai nuo to, ar pasamdytas#}
                        <div class="Header2 u-align-middle"><i class="far fa-clock"></i> <span> Laukiama</span></div>
                    </div>
                </div>
            </section>
            {#----- end item block --------#}
            {% endfor %}
        </section>

        {% if paginationPages > 1 %}
            <section>
                <ul class="Pagination u-align-center">

                    <li><a href="?page={{ page - 1 }}" class="Pagination-item Pagination-prev{{ (page == 1) ? ' is-unavailable' : '' }}">&laquo</a></li>

                    {% for i in 1..paginationPages %}
                        <li><a href="?page={{ i }}" class="Pagination-item  {{ page == i? "is-active" }} "> {{ i }}</a></li>
                    {% endfor %}

                    <li><a href="?page={{ page + 1 }}" class="Pagination-item Pagination-next {{ (paginationPages == page) ? ' is-unavailable' : '' }}">&raquo;</a></li>
                </ul>
            </section>
        {% endif %}

    </div>
</div>

{% endblock %}
