<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/logo_icon.png') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Ubuntu:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>{% block title %}Workchase{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="Content Content-Fixed">
            <div class="Content-Block">
                <header class="PageHeader" role="banner">
                    <div class="PageHeader-logo">
                        <a href="/"><img src="/img/logo.png" alt="worchase"></a>
                    </div>

                    <nav id="nav" class="Nav" role="navigation">

                        <ul class="Nav-menu" id="menu" tabindex="-1" aria-label="main navigation">
                                <li class="Nav-item"><a class="Nav-link" href="/#FilterBar">Visi skelbimai</a></li>
                                <li class="Nav-item"><a class="Nav-link" href="{{ path('new_advert') }}">Įkelti naują</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {#<li class="Nav-item">{{ app.user.username }}</li>#}
                                <li class="Nav-item"><a class="Nav-link" href="{{ path('my_adverts') }}">Mano skelbimai</a></li>
                                <li class="Nav-item"><a class="Nav-link" href="{{ path('logout') }}">Atsijungti</a></li>
                            {% else %}
                                <li class="Nav-item"><a class="Nav-link Nav-link--login" href="{{ path('login') }}">Prisijungti</a></li>
                            {% endif %}
                        </ul>

                        <a href="#nav" class="Nav-toggle" role="button" aria-expanded="false" aria-controls="menu">
                            <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                <g>
                                    <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
                                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                                    <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
                                </g>
                            </svg>
                        </a>

                        <div class="Splash"></div>

                    </nav>
                </header>
            </div>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
