<section class="LayoutGrid-item LayoutGrid-item--link"
         onclick="location.href = '{{ path('advert', {'id': advert.id }) }}'">
    <header class="TopBar TopBar--justify">
        <div class="Date"> {{ advert.createdAt|date("Y-m-d") }} </div>

        <div class="Bid">
            {% if advert.getOffersCount()  > 0 %}
                <span class="Bid-header">Aplikavo</span>
                <span class="Bid-count">{{ advert.getOffersCount() }}</span>
            {% else %}
                <span class="Bid-header">&#8203;</span>
                <span class="Bid-count">&#8203;</span>
            {% endif %}
        </div>
    </header>

    <div class="Bid-header">
        {% if (is_granted('IS_AUTHENTICATED_FULLY') and app.user == advert.user) %}
            Šis skelbimas tavo!
        {% else %}
            &#8203;
        {% endif %}
    </div>

    <h3 class="Header1">{{ advert.title }}</h3>

    <div class="Paragraph Paragraph--lineLimit-4">
        <p>{{ advert.text }}</p>
    </div>

    <footer class="LayoutGrid-footer u-margin-top">
        <ul class="u-align-center u-no-padding">
            {% for advertCategory in advert.categories  %}
                <li class="Category {{ advertCategory.cssStyle }}
                    {% if advertCategory.slug not in selectedCategorySlugs %}not-active{% endif %}">
                    {{ advertCategory.title }}
                </li>
            {% endfor %}
        </ul>
    </footer>
</section>
