{% extends 'base.html.twig' %}

{% block title %}Naujas skelbimas{% endblock %}

{% block body %}
<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

    <div class="Content Content--GreyBg">
        <div class="Content-Block">

            {{ form_start(advertForm, {'attr': {'class' : 'Form Form--column u-padding-top'}}) }}

            <div class="Form-image">
                <img alt="create_form" src="/img/image_form-2.png" />
            </div>

            <div class="Form-content">
                <h3 class="u-margin-top">Įkelti naują skelbimą</h3>
                {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
                    <div class="Form-item">
                        {{ form_label(advertForm.email,'El. paštas') }}
                        {{ form_widget(advertForm.email) }}
                        <span class="Form-errors">
                         {{ form_errors(advertForm.email) }}
                        </span>
                    </div>
                    <div class="Form-item">
                        {{ form_label(advertForm.name,'Tavo vardas') }}
                        {{ form_widget(advertForm.name) }}
                        <span class="Form-errors">
                            {{ form_errors(advertForm.name) }}
                        </span>
                    </div>
                 {% else %}
                     <div class="Form-item" hidden>
                         {{ form_widget(advertForm.email, {'value' : app.user.email}) }}
                     </div>
                     {% if app.user.name is not empty %}
                         <div class="Form-item" hidden>
                             {{ form_widget(advertForm.name, {'value' : app.user.name}) }}
                         </div>
                     {% else %}
                         <div class="Form-item">
                             {{ form_label(advertForm.name,'Tavo vardas') }}
                             {{ form_widget(advertForm.name) }}
                             <span class="Form-errors">
                                {{ form_errors(advertForm.name) }}
                            </span>
                         </div>
                     {% endif %}
                {% endif %}

                <div class="Form-item">
                    {{ form_label(advertForm.title,'Antraštė') }}
                    {{ form_widget(advertForm.title) }}
                    <span class="Form-errors">
                         {{ form_errors(advertForm.title) }}
                    </span>
                </div>

                <div class="Form-item">
                    {{ form_label(advertForm.title,'Miestas') }}
                    {{ form_widget(advertForm.city) }}
                    <span class="Form-errors">
                         {{ form_errors(advertForm.city) }}
                    </span>
                </div>

                <div class="Form-item">
                    {{ form_label(advertForm.text, 'Skelbimo tekstas') }}
                    {{ form_widget(advertForm.text, {'attr': {'rows': '10'} }) }}
                    <span class="Form-errors">
                         {{ form_errors(advertForm.text) }}
                    </span>
                </div>

                {{ form_widget(advertForm.text, {'attr': {'class': 'u-no-margin-top'}}) }}

                <span id="CategoriesTitle" class="Form-label">Pasirinkite kategorijas</span>
                <div id="AdvertCategories"
                     data-original-input-id="advert_categories"
                     aria-required="true"
                ></div>
                <span id="Form-category-errors" class="Form-errors u-margin-bottom u-display-none">
                    <span>Pasirinkite bent vieną kategoriją</span>
                </span>

                <div class="Form-item" hidden>
                    {{ form_widget(advertForm.categories,
                        {'attr': {'class': 'u-no-margin-top u-display-none', 'id': 'advert_categories'}}) }}
                </div>

                <div class="Form-item u-margin-top">
                    <span id="CategoriesTitle" class="Form-label">Įkelkite nuotraukas <i class="Form-help fas fa-info-circle"></i>
                        <span class="Form-tooltip">Kelių failų įkėlimui naudokite shift klavišą</span>
                    </span>
                    {{ form_widget(advertForm.imageGallery, {'attr' : {'class': 'u-no-margin-top','title': 'Norėdami įkelti kelis failus, naudokite shift klavišą'}}) }}
                    <span class="Form-errors">
                         {{ form_errors(advertForm.imageGallery) }}
                    </span>
                </div>

                {{ form_row(advertForm.save , {'attr' : {'class' : 'Button Button--blue'}}) }}
            </div>
            {{ form_end(advertForm) }}

        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}
