{% extends 'base.html.twig' %}

{% block title %}Naujas skelbimas{% endblock %}

{% block body %}

    <div class="Content Content--top Content--GreyBg ">
        <div class="Content-Block">

            {{ form_start(advertForm, {'attr': {'class' : 'Form'}}) }}

            {#TODO: sutvarkyti, jeigu user neegzistuoja#}
            {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
                <div class="Form-item">
                    <label class="" for="floatField">El. paštas</label>
                    <input class="" type="email" />
                </div>
            {% endif %}



            <div class="Form-item">
                {{ form_label(advertForm.title,'Antraštė') }}
                {{ form_widget(advertForm.title) }}
                <span class="Form-errors">
                     {{ form_errors(advertForm.title) }}
                </span>

            </div>

            <div class="Form-item">
                {{ form_label(advertForm.text, 'Skelbimo tekstas') }}
                {{ form_widget(advertForm.text, {'attr': {'rows': '10'} }) }}
                <span class="Form-errors">
                     {{ form_errors(advertForm.text) }}
                </span>
            </div>

            {{ form_widget(advertForm.text, {'attr': {'class': 'u-no-margin-top'}}) }}

            <span id="CategoriesTitle" class="Form-label">Pasirinkite kategorijas</span>

            <div id="AdvertCategories"
                 data-category-options="test"
            ></div>


            <div class="Form-item" hidden>
                {{ form_widget(advertForm.categories, {'attr': {'class': 'u-no-margin-top'}}) }}
            </div>

            {{ form_row(advertForm.save , {'attr' : {'class' : 'Button Button--blue'}}) }}

            {{ form_end(advertForm) }}

        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}
