{% extends 'base.html.twig' %}

{% block title %}Mano skelbimai{% endblock %}

{% block body %}

    <div class="Content Content--top Content--GreyBg">
        <div class="Content-Block">

            {% include 'components/filterBar.html.twig' with {'header' : ''} %}

            {% block ads %}
                {% if filteredAdverts|length < 1 %}
                    <div class="Message Message--empty">
                        <img class="Message-img" src="/img/worker-empty.png" alt="" />
                        <p class="Message-text">Jūs skelbimų neturite!</p>
                    </div>
                {% endif %}

                <section id="Ads" class="Ads">

                    {% for advert in filteredAdverts %}
                        <section class="Ad u-visibility-parent">
                            <header class="Ad-header">
                                <div > {{ advert.createdAt|date("Y-m-d") }} </div>
                                {% if advert.getOffersCount()  > 0 %}
                                    <div class="Bid">
                                        <span class="Bid-header">Aplikavo</span>
                                        <span class="Bid-count">{{ advert.getOffersCount() }}</span>
                                    </div>
                                {% endif %}
                            </header>
                            <h3 class="Header">{{ advert.title }}</h3>
                            <div class="Ad-body">
                                <div class="Ad-text Ad-text--top">
                                    <p>{{ advert.text }}</p>
                                </div>
                                <div class="u-align-center u-visibility-flex-child">
                                    <a class="Button Button--short u-margin-top-bottom" href={{ path('advert', {'id': advert.id }) }}>Plačiau</a>
                                </div>
                                <footer class="Ad-footer Ad-footer--bottom">
                                    <ul class="Ad-categories">
                                        {% for advertCategory in advert.categories  %}
                                            <li class="Category {{ advertCategory.cssStyle }}">{{ advertCategory.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </footer>
                            </div>
                        </section>
                    {% endfor %}

                </section>

                {% if paginationPages > 1 %}
                    <section>
                        <ul class="Pagination u-align-center">

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page - 1 }}#FilterBar" class="Pagination-item Pagination-prev{{ (page == 1) ? ' is-unavailable' : '' }}">&laquo</a></li>

                            {% for i in 1..paginationPages %}
                                <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ i }}#FilterBar" class="Pagination-item  {{ page == i? "is-active" }} "> {{ i }}</a></li>
                            {% endfor %}

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page + 1 }}#FilterBar" class="Pagination-item Pagination-next {{ (paginationPages == page) ? ' is-unavailable' : '' }}">&raquo;</a></li>
                        </ul>
                    </section>
                {% endif %}

            {% endblock %}
        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>

    {{ parent() }}

{% endblock %}
