{% extends 'base.html.twig' %}

{% block title %}Mano skelbimai{% endblock %}

{% block body %}

    <div class="Content Content--top">
        <div class="Content-Block">
            {#{% include 'components/filter_bar.html.twig' with {'header' : ''} %}#}
        </div>
    </div>

    <div class="Content Content--GreyBg">
        <div class="Content-Block u-padding-top">

            {% block ads %}
                {% if filteredAdverts|length < 1 %}
                    <div class="Message Message--empty">
                        <img class="Message-img" src="/img/worker-empty.png" alt="" />
                        <p class="Message-text">Jūs skelbimų neturite!</p>
                    </div>
                {% endif %}

                <section id="myAds" class="LayoutLine">

                    <section id="writeReviewModal" class="Modal">
                        <div id="writeReview"></div>
                    </section>

                    {% for advert in filteredAdverts %}

                        <section class="LayoutLine-item LayoutLine-item--link">
                                 {#onclick="location.href = '{{ path('advert', {'id': advert.id }) }}'">#}

                            <div class="LayoutLine-col-1">
                                {#TODO: prideti stausa#}
                                <div class="Bid Bid--center">
                                {% if advert.getOffersCount()  > 0 %}
                                    <span class="Bid-header">Aplikavo</span>
                                    <span class="Bid-count">{{ advert.getOffersCount() }}</span>
                                    {% else %}
                                    <span class="Bid-header">&#8203;</span>
                                    <span class="Bid-count">&#8203;</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="LayoutLine-col-9">
                                <h3 class="Header1">{{ advert.title }}</h3>
                                <div class="Date"> {{ advert.createdAt|date("Y-m-d") }} </div>
                                <p class="Paragraph Paragraph--lineLimit-2">{{ advert.text }}</p>
                            </div>

                            <div class="LayoutLine-col-2">
                                <a href="{{ path('advert', {'id': advert.id }) }}" class="Button Button--default u-margin-around"><i class="fas fa-edit"></i> Peržiūrėti</a>
                                {% if advert.acceptedOffer %}
                                    {% if not advert.feedback %}
                                        {#TODO: ne visada reactas pasiima reiksmes,jei per greitai pasirenki "vertinti"#}
                                        <div class="Button Button--default Button--yellow u-margin-around feedback"
                                             data-feedback-user={{ advert.acceptedOffer.user.id }}
                                             data-feedback-advert={{ advert.id }}
                                        ><i class="fas fa-star"></i> Vertinti</div>
                                    {% endif %}
                                {% else %}
                                    <div class="Button Button--default Button--red u-margin-around"><i class="fas fa-times"></i> Trinti</div>
                                {% endif %}
                            </div>
                        </section>

                    {% endfor %}

                </section>

                {% if paginationPages > 1 %}
                    <section>
                        <ul class="Pagination u-align-center">

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page - 1 }}#FilterBar" class="Pagination-item Pagination-prev{{ (page == 1) ? ' is-unavailable' : '' }}">&laquo</a></li>

                            {% for i in 1..paginationPages %}
                                <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ i }}#FilterBar" class="Pagination-item  {{ page == i? "is-active" }} "> {{ i }}</a></li>
                            {% endfor %}

                            <li><a href="?filter={{ selectedCategorySlugs|join(',') }}&page={{ page + 1 }}#FilterBar" class="Pagination-item Pagination-next {{ (paginationPages == page) ? ' is-unavailable' : '' }}">&raquo;</a></li>
                        </ul>
                    </section>
                {% endif %}

            {% endblock %}
        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>

    {{ parent() }}

{% endblock %}
