{% extends 'base.html.twig' %}

{% block body %}

    {% include 'components/flash_bag.html.twig' %}

    <div class="Content Content--top">
        <div class="Content-Block">
        </div>
    </div>

    <div class="Content Content--GreyBg">
        <div class="Content-Block">
            <div class="Content Content--GreyBg ">
                <section class="Content-Block">
                    {% if app.session.flashBag.has('success') %}
                        <div class="Alert Alert-success">
                        <span class="Alert-icon">
                            <img src="/img/success.svg" alt="success">
                               {% for msg in app.session.flashBag.get('success') %}
                                   {{ msg }}
                               {% endfor %}
                        </span>
                        </div>
                    {% endif %}

                    <div class="">
                        <button id="backButton" class="Button Button--empty u-no-padding u-margin-top">
                            <i class="fas fa-chevron-left"></i> Atgal
                        </button>
                    </div>

                    <section class="LayoutLine u-margin-top-bottom">
                        <section class="LayoutLine-itemNoBg">
                            <div class="LayoutLine-col-11">
                                <h3 class="Header1">{{ advert.title }}</h3>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <div>
                                        <span class="Header5">Paskelbta:</span>
                                        <span class="Date"> {{ advert.createdAt|date("Y-m-d") }}</span>
                                    </div>
                                    <div>
                                        <span class="Header5">Paskelbė:</span>
                                        <a class="u-link-text"
                                           href='{{ path('user_profile', {'identification': advert.user.identification }) }}'>
                                            {% if advert.user.name %}
                                                {{ advert.user.name }}
                                            {% else %}
                                                {{ advert.user.email }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div>
                                        <span class="Header5">Miestas:</span>
                                        <span>{{ advert.city.name }}</span>
                                    </div>
                                {% else %}
                                    <div class="Date"> {{ advert.createdAt|date("Y-m-d") }}</div>
                                {% endif %}

                                <div class="Paragraph u-margin-top">
                                    <p>{{ advert.text }}</p>
                                </div>

                                <footer class="u-margin-top">
                                    <ul class="u-no-padding">
                                        {% for advertCategory in advert.categories %}
                                            <li class="Category not-active {{ advertCategory.cssStyle }}">{{ advertCategory.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </footer>
                            </div>

                            <div class="LayoutLine-imageGallery">
                                <div id="advertImageGallery"></div>
                            </div>

                            <div>
                                {% for image in advert.images %}
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.fileName }}"
                                         width="200"/>
                                {% endfor %}
                            </div>

                        </section>
                    </section>

                    <section id="writeReviewModal" class="Modal">
                        <div id="writeReview"></div>
                    </section>

                    {#----Offerių bloko pradžia------#}
                    {#<h3 class="Header2 u-margin-top-large">Į skelbimą atsiliepę pasiūlymai</h3>#}
                    <section class="LayoutGrid LayoutGrid--col2">
                        {% for offer in advert.offers %}
                            {% if displayOffer(app.user, offer, advert) %}
                                {% include 'components/offer_component/offer_show.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    </section>
                    {#----Offerių bloko pabaiga------#}

                    {% if offerFormIsAvailable(app.user, advert) %}
                        {{ form_start(offerForm, {'attr': {'class' : 'Form Form-background'}}) }}

                        <h3 class="Header1">Parašyk savo pasiūlymą!</h3>

                        {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}

                            <div class="Form-item">
                                {{ form_label(offerForm.email,'Elektroninis paštas') }}
                                {{ form_widget(offerForm.email) }}
                                <span class="Form-errors">
                             {{ form_errors(offerForm.email) }}
                            </span>
                            </div>

                            <div class="Form-item">
                                {{ form_label(offerForm.name,'Tavo vardas') }}
                                {{ form_widget(offerForm.name) }}
                                <span class="Form-errors">
                             {{ form_errors(offerForm.name) }}
                            </span>
                            </div>

                        {% else %}

                            <div class="Form-item" hidden>
                                {{ form_widget(offerForm.email, {'value' : app.user.email}) }}
                            </div>

                            {% if app.user.name is not empty %}
                                <div class="Form-item" hidden>
                                    {{ form_widget(offerForm.name, {'value' : app.user.name}) }}
                                </div>

                            {% else %}
                                <div class="Form-item" hidden>
                                    {{ form_widget(offerForm.name, {'value' : app.user.name}) }}
                                </div>
                            {% endif %}

                        {% endif %}

                        <div class="Form-item">
                            {{ form_label(offerForm.text, 'Žinutė skelbimo autoriui') }}
                            {{ form_widget(offerForm.text, {'attr': {'rows': '10'} }) }}
                            <span class="Form-errors">
                         {{ form_errors(offerForm.text) }}
                    </span>
                        </div>

                        {{ form_row(offerForm.save , {'attr' : {'class' : 'Button Button--blue'}}) }}

                        {{ form_end(offerForm) }}
                    {% endif %}
                </section>
            </div>
        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}

{% block showFeedback %}
{% endblock %}
