{% extends 'base.html.twig' %}

{% block body %}

<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

<div class="Content Content--GreyBg">
    <div class="Content-Block">
    <div class="Content Content--GreyBg ">
        <section class="Content-Block">

            <div class="u-display-right">
                <a class="Button" href="/#FilterBar">Atgal</a>
            </div>

            {#TODO: neskeminga zinute#}
            {% if app.session.flashBag.has('success') %}
                <div class="Alert Alert-success">
                    <span class="Alert-icon">
                        <img src="/img/success.svg" alt="success">
                           {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                           {% endfor %}
                    </span>
                </div>
            {% endif %}

            <section class="SelectedAd">
                <section class="SelectedAd-content">
                    <header class="Ad-header">
                        <div class="Date"> {{ advert.createdAt|date("Y-m-d") }}</div>
                        {% if advert.getOffersCount()  > 0 %}
                            <div class="Bid">
                                <span class="Bid-header">Aplikavo</span>
                                <span class="Bid-count">{{ advert.getOffersCount() }}</span>
                            </div>
                        {% endif %}
                    </header>
                    <h3 class="Header Header--single">{{ advert.title }}</h3>
                    <div class="Ad-body">
                        <div>
                            <p>{{ advert.text }}</p>
                        </div>
                    </div>



{#                    <div class="Ad-body">#}
{#                        <div>#}
{#                            <p>{{ advert.city.name }}</p>#}
{#                        </div>#}
{#                    </div>#}


                    <footer class="Ad-footer">
                        <ul class="Ad-categories">
                            {% for advertCategory in advert.categories  %}
                                <li class="Category {{ advertCategory.cssStyle }}">{{ advertCategory.title }}</li>
                            {% endfor %}
                        </ul>
                    </footer>
                </section>

                {#<section class="StatusBlock StatusBlock--hired">#}
                    {#<img class="StatusBlock-icon" src="/img/status-hired.svg" alt="Status hired">#}
                    {#<p class="StatusBlock-title">Pasamdytas!</p>#}
                {#</section>#}
            </section>

            <section class="LayoutGrid LayoutGrid--col2">
            {% if(advert.offers is not empty and is_granted('IS_AUTHENTICATED_FULLY') ) %}
                {% for offer in advert.offers %}
                    {% if app.user == offer.user or app.user == advert.user %}

                        <section class="Comments">
                            <section class="Comments-block">
                                <div class="Comments-content">
                                    <div class="Comments-header">
                                       <a href='{{ path('profile', {'id': offer.user.id }) }}'>
                                           <span class="Comments-image">
                                                <img src="/img/user1.png" alt="user">
                                            </span>
                                       </a>
                                        <span class="Comments-date">{{ offer.createdAt|date("Y-m-d") }}</span>
                                    </div>
                                    <div class="Comments-text">
                                        <div class="Comments-author">{{ offer.user.firstName }} {{  offer.user.lastName }}</div>
                                        <p>{{ offer.text }}</p>
                                    </div>
                                    <div class="u-margin-top-bottom u-align-space-around">
                                        {% if advert.acceptedOffer %}
                                            {% if advert.acceptedOffer.id == offer.id and not advert.feedback%}
                                                <a class="Button u-margin-top-small" href="{{ path('decline_offer', {'id': offer.id}) }}"><i class="fas fa-times"></i> Atmesti</a>
                                            {% endif %}
                                        {% elseif app.user != offer.user %}
                                                <a class="Button Button--blue u-margin-top-small" href="{{ path('confirm_offer', {'id': offer.id}) }}"><i class="fas fa-check"></i> Priimti</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                        </section>

                    {% endif %}
                {% endfor %}
            {% endif %}
            </section>
            {% if app.user != advert.user %}
            {{ form_start(offerForm, {'attr': {'class' : 'ReplayBlock'}}) }}
                {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
                    {{ form_row(offerForm.email, { 'label': 'Elektroninis paštas', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo el. paštas"  }  }) }}
                    {{ form_row(offerForm.firstName, { 'label': 'Vardas', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo vardas"  }  }) }}
                    {{ form_row(offerForm.lastName, { 'label': 'Pavardė', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo pavardė"  }  }) }}
                {% else %}
                    {#TODO: slėpti. Reikia input paslėpimo#}
                    <div class="Form-item" hidden>
                        {{ form_row(offerForm.email, { 'value' : app.user.email, 'label': 'Elektroninis paštas', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo el. paštas"  }  }) }}
                    </div>
                    {% if app.user.firstName is not empty %}
                        {#TODO: slėpti. Reikia input paslėpimo#}
                         <div class="Form-item" hidden>
                            {{ form_row(offerForm.firstName, { 'value':app.user.firstName, 'label': 'Vardas', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo vardas"  }  }) }}
                        </div>
                    {% else %}
                            {{ form_row(offerForm.firstName, { 'label': 'Vardas', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo vardas"  }  }) }}
                    {% endif %}
                    {% if app.user.lastname is not empty %}
                        {#TODO: slėpti. Reikia input paslėpimo#}
                         <div class="Form-item" hidden>
                            {{ form_row(offerForm.lastName, { 'value':app.user.lastname, 'label': 'Pavardė', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo pavardė"  }  }) }}
                         </div>
                    {% else %}
                        {{ form_row(offerForm.lastName, { 'label': 'Pavardė', 'attr':{ 'class': 'ReplayBlock-mail u-margin-bottom', 'placeholder' : " Tavo pavardė"  }  }) }}
                    {% endif %}
                {% endif %}

                {{ form_row(offerForm.text, {'label': 'Skelbimo tekstas', 'attr' : { 'class' : 'ReplayBlock-content', 'placeholder' : "Parašyk žinutę su trumpa informacija apie save.", 'rows': "8" }}) }}
                {{ form_row(offerForm.save , {'attr' : {'class' : 'Button Button--blue'}}) }}

            {{ form_end(offerForm) }}
            {% endif %}

        </section>
    </div>
    </div>
</div>
{% endblock %}
