{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content Content--top">
        <div class="Content-Block">
        </div>
    </div>

    <div class="Content Content--GreyBg ">
        <div class="Content-Block">

            {% if app.session.flashBag.has('success') %}
                <div class="Alert Alert-success">
                    <span class="Alert-icon">
                        <img src="/img/success.svg" alt="success">
                           {% for msg in app.session.flashBag.get('success') %}
                               {{ msg }}
                           {% endfor %}
                    </span>
                </div>
            {% endif %}

            {#----Profile Name, Star rates, buttons Block-----#}
            <section class="LayoutLine u-align-top u-padding-top u-margin-bottom">
                <div class="Form-avatar u-align-center u-margin-bottom u-col-3">
                    <img src="/img/user1.png" alt="user-avatar" >
                </div>
                {% if profilesOwner.name %}
                    <h3>{{ profilesOwner.name }}</h3>
                {% else %}
                    <h3>{{ profilesOwner.email }}</h3>
                {% endif %}
                {% if rateAverage > 0 and rateAverage <= 5 %}
                    <div class="StarRating u-align-center u-margin-top-small">
                        <span class="StarRating-star fa fa-star {{ rateAverage >= 1 ? 'checked' : '' }}"></span>
                        <span class="StarRating-star fa fa-star {{ rateAverage >= 2 ? 'checked' : '' }}"></span>
                        <span class="StarRating-star fa fa-star {{ rateAverage >= 3 ? 'checked' : '' }}"></span>
                        <span class="StarRating-star fa fa-star {{ rateAverage >= 4 ? 'checked' : '' }}"></span>
                        <span class="StarRating-star fa fa-star {{ rateAverage >= 5 ? 'checked' : '' }}"></span>
                    </div>
                {% endif %}
                {% if profileIsAppUsers(app.user, profilesOwner) %}
                    <div class="u-align-center u-margin-top">
                        <button id="EditUserModalButton" class="Button u-margin-left-right u-margin-bottom">Redaguoti profilį</button>
                        <button id="EditUserPasswordModalButton" class="Button u-margin-left-right u-margin-bottom">Keisti slaptažodį</button>
                    </div>
                {% endif %}
            </section>

            {#----Profile contacts Block-----#}
            <section class="LayoutLine LayoutLine--columns u-align-top u-padding-top u-margin-left-right">
                <div class="LayoutLine-col-2 u-margin-bottom"></div>
                <div class="LayoutLine-col-3 u-margin-bottom u-margin-left-right">
                    <p class="Header5">Aprašas apie mane</p>
                    {% if profilesOwner.description is not empty %}
                        <p class="Paragraph">{{ profilesOwner.description }}</p>
                     {% else %}
                         <p class="Paragraph">Čia turi būti aprašas apie mane</p>
                    {% endif %}
                </div>
                <div class="LayoutLine-col-3 u-margin-bottom">
                    <p class="Header5">Kontaktai</p>
                    {% if profilesOwner.city %}
                        <p>{{ profilesOwner.city.name }}</p>
                    {% else %}
                        <p>Nenurodytas miestas</p>
                    {% endif %}
                    <p>{{ profilesOwner.email }}</p>
                </div>
                {% if topCategories is not empty %}
                    <div class="LayoutLine-col-3 u-margin-bottom">
                        <p class="Header5">Dirbu srityse</p>
                        {% for category in topCategories %}
                            <li class="Category not-active {{ category.cssStyle }}"> {{ category.title }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="LayoutLine-col-1 u-margin-bottom"></div>
            </section>

            {#----Profile Feedbacks Block-----#}
            <section class="LayoutGrid">
            {% for feedback in profilesOwner.feedbacks %}
                    <section class="Item">
                        <section class="Item-block">
                            <div class="Item-content">
                                <div class="Item-header Item-header--center">
                                    <span class="Item-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 1 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 2 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 3 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 4 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 5 ? 'checked' : '' }}"></span>
                                    </span>
                                    <span class="Item-date">{{ feedback.createdAt|date("Y-m-d") }}</span>
                                </div>
                                <div class="Item-text">
                                    <div class="Item-author">{{ feedback.advert.user.name}}</div>
                                    <p>{{ feedback.message }}</p>
                                </div>
                            </div>
                        </section>
                    </section>
            {% endfor %}
            </section>

            {#----Edit Profile-----#}
            {% if profileIsAppUsers(app.user, profilesOwner) %}
            <section id="EditUserModal" class="Modal">
                <form id="formProfile" method="post" class="Modal-item">
                    <span class="Modal-close"><i class="fas fa-times u-color-red"></i></span>
                    {{ form_start(profileDetailsForm) }}
                    <h3 class="u-text-center">Atsinaujink!</h3>
                    <p class="u-text-center u-margin-bottom">Leisk kitiems tave pažinti!</p>

                    <div class="Form-item">
                        {{ form_label(profileDetailsForm.name, 'Vardas, pavardė') }}
                        {{ form_widget(profileDetailsForm.name) }}
                    </div>

                    <div class="Form-item">
                        {{ form_label(profileDetailsForm.description, 'Trumpai papasakok apie save') }}
                        {{ form_widget(profileDetailsForm.description, {'attr': {'rows': '10'} }) }}
                    </div>
                    <div class="Form-item">
                        {{ form_label(profileDetailsForm.city, 'Miestas') }}
                        {{ form_widget(profileDetailsForm.city) }}
                    </div>
                    {{ form_row(profileDetailsForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top-bottom'}}) }}

                    {{ form_end(profileDetailsForm) }}
                </form>
            </section>

            {#----Change Password-----#}
            <section id="EditUserPasswordModal" class="Modal">
                <form id="formPassword" method="post" class="Modal-item">
                    <span class="Modal-close"><i class="fas fa-times u-color-red"></i></span>
                    {{ form_start(profilePasswordForm) }}
                    <h3 class="u-text-center">Slaptažodžio keitimas</h3>
                    <div class="Form-item">
                        {{ form_label(profilePasswordForm.newPassword, 'Naujas slaptažodis') }}
                        {{ form_widget(profilePasswordForm.newPassword) }}
                        <span class="Form-errors">
                            {{ form_errors(profilePasswordForm.newPassword) }}
                        </span>
                    </div>
                    {{ form_row(profilePasswordForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top'}}) }}

                    {{ form_end(profilePasswordForm) }}
                </form>
            </section>
            {% endif %}
            {#----Upload images-----#}
            <section>
                <h3 class="Header2 u-margin-top-bottom">Meistro darbų pavyzdžiai</h3>

                {% if profileIsAppUsers(app.user, profilesOwner) %}
                    <section class="Form--uploadImages u-margin-bottom">
                        {{ form_start(imageUploadForm) }}
                            <span class="Form-label u-align-left">Įkelti nuotrauką</span>
                            <div class="Form-item">
                                {{ form_widget(imageUploadForm.imageFile, {'attr' : {'class' : 'u-no-margin-top'}}) }}
                            </div>
                            <div class="Form-item" hidden>
                                {{ form_widget(imageUploadForm.mainPicture) }}
                            </div>
                            {{ form_widget(imageUploadForm.submit, {'attr' : {'class' : 'Button Button--blue'}}) }}
                        {{ form_end(imageUploadForm) }}
                    </section>
                {%  endif %}
                {#TODO: netrinti#}
                {#{% for image in imageGallery %}#}
                    {#<a href="{{ path('profile_image_remove', {'id': image.id}) }}">#}
                        {#<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.fileName }}" width="200"/>#}
                    {#</a>#}
                {#{% endfor %}#}
                <div id="displayImagesProfile"
                     data-user-id={{ profilesOwner.identification }}
                >
                </div>
            </section>
        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}
