{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content Content--top">
        <div class="Content-Block">
        </div>
    </div>

    <div class="Content Content--GreyBg ">
        <div class="Content-Block">

            {% if app.session.flashBag.has('success') %}
                <div class="Alert Alert-success">
                    <span class="Alert-icon">
                        <img src="/img/success.svg" alt="success">
                           {% for msg in app.session.flashBag.get('success') %}
                               {{ msg }}
                           {% endfor %}
                    </span>
                </div>
            {% endif %}

            {% if profileIsAppUsers(app.user, profilesOwner) %}
                <div class="u-display-right">
                    <a href="#EditUserModal" class="Button">Redaguoti profilį<i class="fas fa-user-edit"></i> </a>
                </div>

                <div class="u-display-right">
                    <a href="#EditUserPasswordModal" class="Button">Redaguoti slaptažodį<i class="fas fa-user-edit"></i> </a>
                </div>

            {% endif %}

            <section class="Form Form--column u-align-top u-padding-top">
                <div class="Column-3">
                    <div class="Form-avatar u-align-center u-margin-bottom u-col-3">
                        <img src="/img/user1.png" alt="user-avatar" >
                    </div>
                    {% if  rateAverage is empty %}
                        <div class="StarRating u-align-center">
                            <span class="StarRating-star fa fa-star {{ rateAverage >= 1 ? 'checked' : '' }}"></span>
                            <span class="StarRating-star fa fa-star {{ rateAverage >= 2 ? 'checked' : '' }}"></span>
                            <span class="StarRating-star fa fa-star {{ rateAverage >= 3 ? 'checked' : '' }}"></span>
                            <span class="StarRating-star fa fa-star {{ rateAverage >= 4 ? 'checked' : '' }}"></span>
                            <span class="StarRating-star fa fa-star {{ rateAverage >= 5 ? 'checked' : '' }}"></span>
                        </div>
                    {% endif %}
                </div>
                <div class="Column-3 Column-3--longer u-margin-left-right u-margin-top">
                    {% if profilesOwner.name %}
                        <h3>{{ profilesOwner.name }}</h3>
                    {% else %}
                        <h3>{{ profilesOwner.email }}</h3>
                    {% endif %}
                    <p class="u-margin-top">{{ profilesOwner.description }}</p>
                </div>
                <div class="Column-3 u-margin-top">
                    <div>
                        <h4>Kontaktai</h4>
                        {% if profilesOwner.city %}
                            <p>{{ profilesOwner.city.name }}</p>
                        {% else %}
                            <p>Nenurodytas miestas</p>
                        {% endif %}
                        <p>{{ profilesOwner.email }}</p>
                    </div>
                    <div>
                        {% if topCategories is not empty %}
                            <h4 class="u-margin-top">Dirbu srityse</h4>
                            {% for category in topCategories %}
                                <li class="Category {{ category.cssStyle }}"> {{ category.title }}</li>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </section>


            {% if profileIsAppUsers(app.user, profilesOwner) %}
            <section>
                {{ form(imageUploadForm) }}
            </section>
            {%  endif %}

            {% for image in imageGallery %}
                <a href="{{ path('profile_image_remove', {'id': image.id}) }}">
                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.fileName }}" width="200"/>
                </a>
            {% endfor %}


            <section class="LayoutGrid">

            {% for feedback in profilesOwner.feedbacks %}
                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                    <span class="Comments-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 1 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 2 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 3 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 4 ? 'checked' : '' }}"></span>
                                        <span class="StarRating-star fa fa-star {{ feedback.score >= 5 ? 'checked' : '' }}"></span>
                                    </span>
                                    <span class="Comments-date">{{ feedback.createdAt|date("Y-m-d") }}</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">{{ feedback.advert.user.name}}</div>
                                    <p>{{ feedback.message }}</p>
                                </div>
                            </div>
                        </section>
                    </section>
            {% endfor %}
            </section>
            {% if profileIsAppUsers(app.user, profilesOwner) %}
            <section id="EditUserModal" class="Modal">

                <div>
                    <a href="#" title="Close" class="Modal-close">Close</a>

                    <form id="formProfile" method="post" class="">
                        {{ form_start(profileDetailsForm) }}
                        <h3 class="u-text-center">Atsinaujink!</h3>
                        <p class="u-text-center u-margin-bottom">Leisk kitiems tave pažinti!</p>

                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.name, 'Vardas, pavardė') }}
                            {{ form_widget(profileDetailsForm.name) }}
                        </div>

                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.description, 'Trumpai papasakok apie save') }}
                            {{ form_widget(profileDetailsForm.description, {'attr': {'rows': '10'} }) }}
                        </div>
                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.city, 'Miestas') }}
                            {{ form_widget(profileDetailsForm.city) }}
                        </div>
                        {{ form_row(profileDetailsForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top-bottom'}}) }}

                        {{ form_end(profileDetailsForm) }}
                    </form>


                    <form id="formPassword" method="post" class="u-display-none">
                        {{ form_start(profilePasswordForm) }}
                        <h3 class="u-text-center">Slaptažodžio keitimas</h3>
                        <div class="Form-item">
                            {{ form_label(profilePasswordForm.newPassword, 'Naujas slaptažodis') }}
                            {{ form_widget(profilePasswordForm.newPassword) }}
                            <span class="Form-errors">
                                {{ form_errors(profilePasswordForm.newPassword) }}
                            </span>
                        </div>
                        {{ form_row(profilePasswordForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top'}}) }}

                        {{ form_end(profilePasswordForm) }}
                    </form>

                </div>
            </section>
            {% endif %}
        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}
