{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content Content--top">
        <div class="Content-Block">
        </div>
    </div>

    <div class="Content Content--GreyBg ">
        <div class="Content-Block">

            {% if app.session.flashBag.has('success') %}
                <div class="Alert Alert-success">
                    <span class="Alert-icon">
                        <img src="/img/success.svg" alt="success">
                           {% for msg in app.session.flashBag.get('success') %}
                               {{ msg }}
                           {% endfor %}
                    </span>
                </div>
            {% endif %}

            {% if app.user.id == user.id %}
                <div class="u-display-right">
                    <a href="#EditUserModal" class="Button">Redaguoti <i class="fas fa-user-edit"></i> </a>
                </div>
            {% endif %}

            <section class="Form Form--column u-align-top u-padding-top">
                <div class="Column-3">
                    <div class="Form-avatar u-align-center u-margin-bottom u-col-3">
                        <img src="/img/user1.png" alt="user-avatar" >
                    </div>
                    <div class="StarRating u-align-center">
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star"></span>
                        <span class="StarRating-star fa fa-star"></span>
                    </div>
                </div>
                <div class="Column-3 Column-3--longer u-margin-left-right u-margin-top">
                    <h3>{{ user.name }}  {{ user.lastName }} </h3>
                    <p class="u-margin-top">{{ user.description }}</p>
                </div>
                <div class="Column-3 u-margin-top">
                    <div>
                        <h4>Kontaktai</h4>
                        <p>{{ user.city.name }}</p>
                        <p>{{ user.email }}</p>
                    </div>
                    <div>
                        <h4 class="u-margin-top">Dirbu srityse</h4>
                        <ul class="Ad-categories Ad-categories--left">
                            <li class="Category Category--black not-active">Santechnika</li>
                            <li class="Category Category--black not-active">Lauko darbai</li>
                        </ul>
                    </div>

                </div>
            </section>

            <a href="#writeReviewModal">Write Review</a>

            <section id="writeReviewModal" class="Modal">
                <div id="writeReview"></div>
            </section>

            <section class="LayoutGrid">
                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                    <span class="Comments-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                    </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Labai darbštus, lankstus, patikimas meistras, kuris žino ką daro. Visi darbai atlikti greitai ir kokybiškai. REKOMENDUOJU 100%.</p>
                                </div>
                            </div>
                        </section>
                    </section>

                <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                    <span class="Comments-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                    </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Patikimas,sukalbamas zmogus. Puikiai ismano savo darba. Esu patenkinta atliktais darbais. Svarbiausia ,kad kainos meistro tikrai nesikandzioja</p>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                        <span class="Comments-image">
                                            <img src="/img/user1.png" alt="user">
                                        </span>
                                        <span class="StarRating StarRating--small u-align-center">
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star"></span>
                                            <span class="StarRating-star fa fa-star"></span>
                                        </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Meistras dirba greitai, kruopščiai ir tvarkingai. Negaili patarimų kaip būtų geriau ir kas būtų pigiau ir t.t. Rekomenduoju ir garantuoju, kad jo atliktu darbu liksite patenkinti.</p>
                                </div>
                            </div>
                        </section>
                    </section>
            </section>

            <section id="EditUserModal" class="Modal">

                <div>
                    <a href="#" title="Close" class="Modal-close">Close</a>

                    <form method="post" class="Form Form-background">
                        {{ form_start(profileDetailsForm) }}
                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.name, 'Vardas') }}
                            {{ form_widget(profileDetailsForm.name) }}
                        </div>
                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.lastName, 'Pavardė') }}
                            {{ form_widget(profileDetailsForm.lastName) }}
                        </div>
                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.description, 'Aprašymas apie tave') }}
                            {{ form_widget(profileDetailsForm.description, {'attr': {'rows': '10'} }) }}
                        </div>
                        <div class="Form-item">
                            {{ form_label(profileDetailsForm.city, 'Miestas') }}
                            {{ form_widget(profileDetailsForm.city) }}
                        </div>
                        {{ form_row(profileDetailsForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top'}}) }}
                        {{ form_end(profileDetailsForm) }}
                    </form>


                    <form method="post" class="Form Form-background">
                        {{ form_start(profilePasswordForm) }}
                        <div class="Form-item">
                            {{ form_label(profilePasswordForm.newPassword, 'Naujas slaptažodis') }}
                            {{ form_widget(profilePasswordForm.newPassword) }}
                            <span class="Form-errors">
                                {{ form_errors(profilePasswordForm.newPassword) }}
                            </span>
                        </div>
                        {{ form_row(profilePasswordForm.save , {'attr' : {'class' : 'Button Button--blue Button--long u-margin-top'}}) }}
                        {{ form_end(profilePasswordForm) }}
                    </form>

                </div>
            </section>

        </div>
    </div>

    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}

{% endblock %}
